<div class="carousel">
	<div class="title">Carousel with Circle</div>
	<div class="carousel-content">
		{{#each textualSlider as |slide|}}
			<h3 class="carousel-item {{if slide.active 'active'}}">{{slide.data}}</h3>
		{{/each}}
	</div>
	<ol class="carousel-nav">
		{{#each textualSlider as |button index|}}
			<li class={{if button.active "active"}} {{action 'slideContent' index}}></li>
		{{/each}}
	</ol>
</div>
{{yield}}